body {
    font-family: 'Trebuchet MS', 'Gill Sans', Arial, Verdana;
    background-color: rgb(254, 243, 213);
    padding: 30px 15%;
    max-width: 1200px;
    margin: 0 auto;
}

main {
    margin-bottom: 100px;
}

footer {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header li {
    display: inline;
    margin-right: 15px;
}

.opening {
    background-image: url('../images/frontGradient.jpg');
    height: 600px;
    color: white;
    text-align: center;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opening h2 {
    font-size: 50px;
    margin: 0;

}

h2.no-bar::before {
    content: none;
}

.button {
    color: white;
    font-size: 15px;
    padding: 15px 25px;
    background-color: rgb(233, 70, 26);
    border-radius: 7px;
}

h1::before, h2::before, h3::before {
    content: "|";
}

.content-grid-playlists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
    margin-bottom: 15px;
}

.content-grid-artists {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    margin-bottom: 15px;
}

.artist-block img {
    width: 240px;
    height: 300px;
    border-radius: 7px;
    object-fit: cover;
    display: block;
}

.playlist-block img {
    width: 320px;
    height: 180px;
    border-radius: 7px;
    object-fit: cover;
    display: block;
}

.button-wrapper {
    padding-top: 10px;
    text-align: center;
}

.cover_image {
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    header ul {
        display: block;
        text-align: center;
    }

    header ul li {
        display: block;
        margin: 10px 0;
    }

    .opening {
        height: 400px;
    }

    .opening h2 {
        font-size: 32px;
        padding-top: 0;
    }

    .content-grid-artists {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        justify-items: center;
    }

    .artist-block img {
        width: 100%;
        height: auto;
    }

    .playlist-block img {
        width: 100%;
        height: auto;
    }

    .content-grid-playlists {
        grid-template-columns: 1fr;
    }
}